* {
    font-family: "Kalimati", Verdana, sans-serif;
    font-size: 16px;
}
body {
    /* reset */
    max-width: 1024px;
    padding: 0;
    margin: 0;
}

.container,
.row {
    padding: 0 0;
    margin: 0 0;
}

.container {
    margin-top: 32px;
    margin-left: 42px;
    margin-right: 46px;
    width: 936px;
}

h1 {
    color: #666;
    font-size: 46px;
    margin-top: 12px;
    margin-bottom: 32px;
    letter-spacing: 1px;
    word-spacing: -1px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
    color: #F07C17;
    margin-bottom: 32px;
    letter-spacing: 0.2em;
    word-spacing: -0.4em;

}

.head, 
.aside {
    padding-left: 0px;
    padding-right: 0px;
}
.aside {
    width: 375px;

}

.aside img {
    margin-bottom: 28px;
}

.feature {
    border: 1px solid #ccc;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

.feature h2 {
    margin-bottom: 28px;
}

.content {
    padding-left: 30px;
    padding-right: 0px;
    max-width: 562px;
}

.content:last-child {
    margin-bottom: 0;
}

p,
ul li {
    word-spacing: -1px;
    line-height: 32px;
    color: #666;
}

